@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;500;600;700;800;900&display=swap");
.home h1 {
  font-weight: 800;
  font-size: 3rem;
  color: var(--400-blue);
  text-transform: capitalize;
}
.home p {
  font-size: 1.3rem;
  font-weight: 400;
  color: var(--400-grey);
}
.home .home-btn {
  background-color: var(--300-blue);
}
.home .home-btn:active,
.home .home-btn:hover,
.home .home-btn:focus {
  transition: 0.2s ease-in-out;
  background-color: var(--400-blue);
  color: white;
}

@media (max-width: 800px) {
  .home h1 {
    font-size: x-large;
  }
}
.about .about-info p {
  color: var(--500-grey);
  margin: 2rem auto;
}
.about .what-we-do {
  margin: 2rem auto;
}
.about .what-we-do h1,
.about .what-we-do h5 {
  font-weight: 800;
  text-transform: capitalize;
  color: var(--400-blue);
}
.about .what-we-do h5 {
  margin: 1rem auto;
}
.about .what-we-do p {
  text-align: center;
  color: var(--500-grey);
}
.about .what-we-do .col-sm-4 .card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  height: 300px;
  margin-bottom: 2rem;
}
.about .what-we-do .col-sm-4 .material-symbols-outlined {
  font-size: 3rem;
  margin: auto;
  color: var(--400-blue);
  font-weight: bold;
}

.contact {
  margin-top: 5rem;
}
.contact .left {
  background-color: white;
  padding: 5rem 3rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.contact .left h1 {
  font-weight: 800;
  color: var(--400-blue);
}
.contact .left p {
  text-align: start;
  color: var(--500-grey);
}
.contact .left .bottom-part a {
  text-decoration: none;
  color: var(--500-blue);
  font-size: x-large;
  margin: auto 0.4rem;
}
.contact .right {
  padding: 5rem 3rem;
  /* Chrome, Safari, Edge, Opera */
  /* Firefox */
}
.contact .right input[type=text],
.contact .right input[type=number],
.contact .right input[type=email],
.contact .right select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin: 1rem auto;
}
.contact .right input::-webkit-outer-spin-button,
.contact .right input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.contact .right input[type=number] {
  -moz-appearance: textfield;
}
.contact .right input[type=submit] {
  background-color: var(--400-blue);
  width: 100%;
  margin-top: 1rem;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
}
.contact .right textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  resize: none;
}

@media (max-width: 800px) {
  .contact .left,
.contact .right {
    padding: 5rem 1rem;
  }
}
.team a:hover,
.team a:active,
.team a:focus {
  color: white;
  background-color: var(--c2);
  border: var(--c2);
}

.team .col-sm-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.team .col-sm-3 img {
  width: 12rem;
  border-radius: 50%;
  margin-bottom: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.team .col-sm-3 h5 {
  color: var(--400-blue);
  font-weight: bold;
}
.team .col-sm-3 p {
  color: var(--400-grey);
  font-weight: normal;
}

.blog-btn {
  border: none;
  color: white !important;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  background-color: var(--300-blue);
}

.blog-btn:active,
.blog-btn:hover {
  background-color: var(--400-blue);
}

.blog-btn:hover::after {
  opacity: 0 !important;
  transform: translateY(-15px);
}

.blog .main-title {
  font-size: 5rem;
  font-weight: 800;
  text-transform: capitalize;
  color: var(--400-blue);
  text-align: center;
}
@media (max-width: 800px) {
  .blog .main-title {
    font-size: 2rem;
  }
}
.blog .col-sm-4 .card {
  padding: 10px;
  border: none;
}
.blog .col-sm-4 .img-wrapper {
  border-radius: 2rem;
}
.blog .col-sm-4 .img-wrapper img {
  border-radius: 0.5rem;
  width: 100%;
  height: auto;
  -o-object-fit: fill;
     object-fit: fill;
}
.blog .col-sm-4 .card-body {
  padding: 1rem;
}
.blog .col-sm-4 .date > small {
  color: var(--500-grey);
  font-weight: 600;
  margin: 0.5rem 0;
}
.blog .col-sm-4 h5 a {
  color: var(--500-blue);
  font-weight: 700;
  text-decoration: none;
}
.blog .col-sm-4 p > small {
  font-weight: 400;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --black: #212529;
  --500-grey: #343a40;
  --400-grey: #343a40;
  --300-grey: #6c757d;
  --200-grey: #dee2da;
  --500-blue: #00171f;
  --400-blue: #003366;
  --300-blue: #00ace6;
  --white: white;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100vh;
  font-family: "Inter", sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue";
  --scrollbarBG: #dee2da;
  --thumbBG: #343a40;
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 11px;
}

body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

/* global styling */
.info_link {
  color: var(--300-blue);
  text-decoration: none;
  font-weight: 600;
}

.info_link:active,
.info_link:hover {
  color: var(--400-blue);
}

/* Navbar */
.navbar {
  background-color: white;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1rem;
  height: 5rem;
}

.navbar .navbar-brand img {
  width: auto;
  height: 1rem;
}

.burger {
  border: 0;
  cursor: pointer;
  display: none;
  font-size: 22px;
  position: relative;
  padding: 0;
  outline: none;
  height: 30px;
  width: 30px;
}

.burger:active {
  color: var(--black);
  outline: none;
}

.burger .bar {
  background-color: var(--black);
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  height: 3px;
  width: 20px;
  transition: transform 0.2s ease;
}

.burger .bar:first-of-type {
  top: 40%;
}

.burger .bar:last-of-type {
  top: 60%;
}

.nav-links {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav-links li {
  margin: 0 10px;
  font-weight: 600;
  font-size: 1rem;
}

.nav-links li a {
  color: var(--black);
  position: relative;
  text-decoration: none;
}

.nav-links li a::after {
  content: "";
  background-color: var(--300-blue);
  position: absolute;
  bottom: -18px;
  left: 0;
  opacity: 0;
  height: 3px;
  width: 100%;
  transition: transform 0.2s ease;
}

.nav-links li a:hover::after {
  opacity: 1;
  transform: translateY(-15px);
}

.nav-links li .current-page {
  color: var(--300-blue);
}

.nav-socials {
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 800px) {
  .burger {
    display: block;
  }
  .burger.show-x .bar:first-of-type {
    transform: translate(-50%, 50%) rotate(225deg);
  }
  .burger.show-x .bar:last-of-type {
    transform: translate(-50%, -150%) rotate(-225deg);
  }
  .nav-links {
    background-color: white;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    text-align: center;
    position: fixed;
    top: 80px;
    left: 10%;
    transform: translateX(120%);
    width: 80%;
    transition: transform 0.3s ease-in;
    z-index: 100;
  }
  .nav-links li a {
    color: var(--black);
  }
  .nav-links.show {
    transform: translateX(0);
  }
  .nav-links li {
    margin: 15px;
  }
}
.content {
  height: calc(100vh - 5rem);
  margin-top: 5rem;
}

.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
}

section.heading {
  background-image: url("../images/header.jpg");
  background-position: center center;
  height: 40vh;
  background-repeat: no-repeat;
  background-size: cover;
  -o-object-fit: fill;
     object-fit: fill;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8rem;
}
section.heading h1 {
  color: white;
  font-size: 5rem;
  font-weight: 800;
}

@media (max-width: 800px) {
  section.heading {
    height: 30vh;
  }
  section.heading h1 {
    color: white;
    font-size: 2rem;
    font-weight: 800;
  }
}/*# sourceMappingURL=main.css.map */